<div class="card border-bottom shadow">
    <a href="#">
        
        <img class="card-img-top" src="https://images.pexels.com/photos/461198/pexels-photo-461198.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940">
    </a>

    <div class="card-body">
        <a href="">
            <h5 class="card-title">Veggie Wrapped Burger</h5>
        </a>
        <h6 class="card-subtitle mb-2 text-muted">Sides</h6>
        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex at tempora, cumque in reprehenderit quae similique laborum aspernatur ad ut ab et, laboriosam dignissimos quo praesentium soluta pariatur neque! Cupiditate.</p>
        <p class="price">Price: BHD 3.000</p>
        <a href="#" class="btn btn-primary mt-3 mb-2">Add to order</a>
    </div>
</div>