<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<div class="row my-2">
    <div class="restaurant-container col-md-4 col-sm-6 d-flex align-items-stretch mb-3">
        {{> menu_item}}
    </div>
</div>

